<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="footer-bg">
    <div class="footer-nav">
        <h2 class="footer-name">Name</h2>
        <ul class="footer-about">
        <li><h2>О нас</h2></li>
        <li><a href="">Концепт</a></li>
        <li><a href="">Франшиза</a></li>
        <li><a href="">Бизнес</a></li>
        </ul>
        <ul class="footer-contact">
        <li><h2>Свяжитесь с нами</h2></li>
        <li><a href="">Париж</a></li>
        <li><a href="">8 999 111 66 57</a></li>
        <li><a href="">contact@musicshop.com</a></li>
        </ul>
      </div>
    </div>
</body>
</html>