<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="./css/userDashboard.css">
</head>
<body>
    <%- include('./header.ejs') %>
    <main>
        <div class="clearfix-column">
            <div class="left-column">
                <h1>Личный кабинет</h1>
                <h2>Ваш профиль</h2>
                <% if (userDetails && userDetails.avatarUrl !== null && userDetails.avatarUrl !== undefined) { %>
                    <img src="<%= userDetails.avatarUrl %>" alt="Avatar">
                <% } else { %>
                    <p>No avatar available</p>
                <% } %>
                <p>Имя: <%= userDetails ? userDetails.nickname : 'N/A' %></p>
                <p>Описание: <%= userDetails ? userDetails.about : 'N/A' %></p>
            </div>
            <div class="right-column">
                <h2>Редактировать профиль</h2>
                <form action="/dashboard/add-data" method="POST" enctype="multipart/form-data">
                    <label for="nickname">Имя:</label>
                    <input type="text" name="nickname" id="nickname" required>
                  
                    <label for="about">Описание:</label>
                    <textarea name="about" id="about" rows="5" required resize="none"></textarea>
                  
                    <label for="avatar">Аватар:</label>
                    <input type="file" name="avatar" id="avatar">
                  
                    <button type="submit">Обновить</button>
                </form>
                    <button onclick="document.getElementById('id01').style.display='block'">Очистить данные</button>
            </div>    
            </div>
            <div id="id01" class="modal">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                <form class="modal-content" action="/dashboard/delete-data" method="POST">
                  <div class="container-modal">
                    <h1>Delete Account</h1>
                    <p>Are you sure you want to delete your account?</p>
                    <div class="clearfix-modal">
                      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                      <button type="submit" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
                    </div>
                  </div>
                </form>
              </div>
              </form>
              <script>
              // Get the modal
              var modal = document.getElementById('id01');
              
              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function(event) {
                if (event.target == modal) {
                  modal.style.display = "none";
                }
              }
              </script>
    </main>
</body>
</html>
