.limiter {
    width: 100%;
    margin: 0 auto;
}

.h1_login {
    font-family: Oswald-Medium;
    font-size: 2.3em;
    color: #43383e;
    line-height: 1.2;
    text-align: center;
    display: block;
}

.login_input {
    font-family: Oswald-Medium;
    font-size: 16px;
    color: #43383e;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 62px;
    background: #fff;
    border-radius: 31px;
    border: none;
    padding: 0 35px 0 35px;
}

.wrap-login {
    width: 320px;
    background: transparent;
    border-radius: 0px;
}


.login-form {
    width: 100%;
    position: relative;
}
.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e6e6e6;
}
.login-input-wrap {
    width: 100%;
    background-color: #fff;
    border-radius: 31px;
    position: relative;
    z-index: 1;
}
.login-button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login_button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #43383e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.login_button:hover{background-color: #333;}

.header-nav {
  font-size: 1.41em;
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  }
  .header-bg {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  }
  .header-nav a {
    float: left;
    color: #f2f2f2;
    
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
  }
  
  .header-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header-nav .main {
    font-weight: bold;
  }
  

  .header-nav .register {
    margin-left: 1vw;
  }
  .header-nav .logout {
    margin-left: 1vw;
  }
  .header-right{
    float: right;
  }
  .header-nav a.active {
    background-color: #04AA6D;
  color: white;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 2vw;
  }
  
  .h1-welcome-title {
    font-size: 2.4em;
    text-align: center;
    margin-top: 2em;
  }

  .footer-bg {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    color: white;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  .footer-nav {
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1920px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 130%;
    }

    .footer-name {
    padding: 0.8em;
    }
    .footer-about {
      margin-left: auto;
      padding: 0.8em;
    }
    .footer-contact {
      padding: 0.8em;
      margin-inline: 1.2em;
      margin-right: 2.8em;
    }
    .footer-nav h2 {
      font-size: 1.21em;
    }
    .footer-nav a {
      font-size: 0.91em;
      color: white;
      text-decoration: none;
    }
    .footer-nav a:hover {
      opacity: 0.7;
    }

    @media all and (min-width: 1024px) and (max-width: 1280px) {
      .login-container {
        align-items: normal;
      }
      .wrap-login {
        width: auto;
        margin-top: 9em;

      }
      .login_input {
        font-size: 2.4em;
        height: 3em;
      }
      .h1_login { 
        font-size: 2.8em;
      }
      .login_button {
        font-size: 2.5em;
      }
      .header-nav {
      justify-content: center;
      }
      .header-right {
        margin-left: 6em;
      }
    .footer-about {
      margin-left: 6em;
      padding: 0.8em;
    }
    }
     @media all and (min-width: 768px) and (max-width: 1024px) {
      .login-container {
        align-items: normal;
      } 
      .wrap-login {
        width: auto;
        margin-top: 9em;
      }
      .login_input {
        font-size: 3.6em;
        height: 3em;
      }
      .h1_login { 
        font-size: 4em;
      }
      .login_button {
        font-size: 3.7em;
      }
      .header-nav {
        font-size: 2.41em;
        justify-content: center;
        }
        .header-right {
          margin-left: 6em;
        }
    } 
     @media all and (min-width: 480px) and (max-width: 768px) { 
      .login-container {
        align-items: normal;

      }
      .wrap-login {
        width: auto;
        margin-top: 9em;

      }
      .login_input {
        font-size: 2.4em;
        height: 3em;
      }
      .h1_login { 
        font-size: 2.8em;
      }
      .login_button {
        font-size: 2.5em;
      }
      .header-nav {
        justify-content: center;
        }
        .header-right {
          margin-left: 3em;
        }
      .footer-nav {
        display: block;
      }
      .footer-bg {
        overflow: auto;
      }
    } 
     @media all and (max-width: 480px) {
      .login-container {
        align-items: normal;
      }
      .wrap-login {
        width: auto;
        margin-top: 9em;

      }
      .login_input {
        font-size: 2.4em;
        height: 3em;
      }
      .h1_login { 
        font-size: 2.8em;
      }
      .login_button {
        font-size: 2.5em;
      }
      .header-nav {
        justify-content: center;
        }
        .header-right {
          margin-left: 2.8em;
        }
      .footer-nav {
        display: block;
      }
      .footer-bg {
        overflow: auto;
      }
    }


  