body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f0e6;
  }
  
  
  h1, h2, p {
    color: #4e3629;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4e3629;
    border-radius: 5px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #604c42;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8c6e60;
  }
  
  .add-data-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  img {
    vertical-align: middle;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 3px solid #333;
  }
  .user-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-details img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-details p {
    margin: 0;
  }
  
  .no-avatar {
    color: #777;
    font-style: italic;
  }
  
  .left-column {
    float: left;
    width: 50%;
  }
  
  .right-column {
    float: right;
    width: 50%;
  }
  
  .clearfix-column {
    width: 95%;
    padding-inline: 1em;
  }

  .cancelbtn, .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .container-modal {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  .clearfix-modal::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  @media all and (min-width: 768px) and (max-width: 1024px) { 
    .right-column {
      width: 75%;
    }
    .left-column {
      width: 75%;
    }
   } 
   @media all and (min-width: 480px) and (max-width: 768px) { 
    .right-column {
      width: 95%;
      padding-inline: 0.6em;
    }
    .left-column {
      width: 95%;
    }
   } 
   @media all and (max-width: 480px) {
    .right-column {
      width: 95%;
      padding-inline: 0.6em;
    }
    .left-column {
      width: 95%;
    }
   }